<html lang="en">
<%- include("../partials/header.ejs") %>

<body>
  <%- include("../partials/nav.ejs")%>
  <p>Welcome to Walley💫</p>
  <a href="./login.ejs">Login</a>
  <a href="./register">Register</a>

  <%- include("../partials/footer.ejs") %>
</body>
</html>