<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <p>Welcome to Walley💫</p>
  <a href="./login.ejs">Login</a>
  <a href="./register.ejs">Register</a>
  <script src="../../scripts/users/login.js"></script>
  <%- include("./partials/footer.ejs") %>
</body>
</html>